body {
  background-image: url('background.jpg');
  background-size: cover;

}

h1, p,button,.message{
  font-family: 'Dancing Script',monospace;
}
.message{
  font-size: 20px;
  color: white;
  background-color: gray;
  border: #ddd solid 1px;
  border-radius: 5px;
  width: 33%;
  margin-right: auto;
  margin-left: auto;
}
.author{
  font-family: sans-serif;
  font-style: italic;
  font-size: 15px;
}
